+b.slide--1
    +e.container.container
        +e.info
            +e.title--1
                h1.gradient.uppercase Проверь #[br]себя в бою
            +e.arrows
            +e.desc
                p Пейнтбол-война понарошку. Без жертв и разрушений. С игрушечными ружьями, патронами и трофеями, #[br]но с настоящей стратегией и тактикой боя
            +e.actions
                +e.A(href="#").btn-1.btn--gradient.btn--center.btn--lg Играть
                +e.A(href="#").btn-2.btn--video Видео о клубе
        
            
            