@mixin tdn(){
    text-decoration: none;
}
@mixin hover($color){
    &:hover{
        color: $color;
    }
}
@mixin color-gradient($color){
    background: $color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin font-sans(){
    font-family: "Clear Sans";
}

@mixin font-intro(){
    font-family: "Intro";
}

@mixin flex-gs-0{
    flex-shrink: 0;
    flex-grow: 0;
}