$c-red: #FF3100;
$c-orange: #FEB700;
$c-gradient: linear-gradient(101.89deg, #FEB700 1.65%, #FE4C00 94.97%);
$c-gradient-mob: linear-gradient(176.13deg, #FEB700 3.16%, #FE4C00 96.98%);
$c-dark: #13181F;
$c-back: #181D24;
$c-text: #7C889A;
$c-text-2: #262626;
$c-white: #fff;
$c-black: #000;
$c-back-2: #F5F5F5;
$c-arrows: #202833;