@charset "UTF-8";
/* line 1, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_reset.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

/* line 1, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* line 6, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
body {
  font-size: 16px;
  width: 100vw;
  overflow-x: hidden; }
  /* line 10, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  body > .row {
    width: 100vw; }

/* line 15, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.row {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

/* line 20, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.row-flex {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  flex-flow: wrap; }

/* line 32, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.j-left {
  justify-content: flex-start; }

/* line 35, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.j-right {
  justify-content: flex-end; }

/* line 38, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
body > .row, body > .row-flex {
  padding-left: 0;
  padding-right: 0; }

/* line 42, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.container {
  width: 100%;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

/* line 50, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.p0 {
  padding-left: 0;
  padding-right: 0; }

/* line 54, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.pl0 {
  padding-left: 0; }

/* line 57, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.pr0 {
  padding-right: 0; }

/* line 60, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.screen {
  width: 100%;
  height: 100vh;
  min-height: 700px; }
  /* line 64, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .screen > .container {
    height: 100%; }

@media (min-width: 1170px) {
  /* line 68, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .cont-col-left {
    width: calc( 50vw - 585px + 370px);
    padding-left: calc(50vw - 585px); } }

/* line 78, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.gr-col {
  float: left; }

/* line 81, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.col-1 {
  width: 8.3333%; }

/* line 82, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.col-2 {
  width: 16.6666%; }

/* line 83, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.col-3 {
  width: 25%; }

/* line 84, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.col-4 {
  width: 33.3333%; }

/* line 85, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.col-5 {
  width: 41.6666%; }

/* line 86, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.col-6 {
  width: 50%; }

/* line 87, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.col-7 {
  width: 58.3333%; }

/* line 88, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.col-8 {
  width: 66.6666%; }

/* line 89, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.col-9 {
  width: 75%; }

/* line 90, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.col-10 {
  width: 83.3333%; }

/* line 91, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.col-11 {
  width: 91.6666%; }

/* line 92, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.col-12 {
  width: 100%; }

@media (min-width: 1170px) {
  /* line 96, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .lg-col-1 {
    width: 8.3333%; }
  /* line 97, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .lg-col-2 {
    width: 16.6666%; }
  /* line 98, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .lg-col-3 {
    width: 25%; }
  /* line 99, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .lg-col-4 {
    width: 33.3333%; }
  /* line 100, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .lg-col-5 {
    width: 41.6666%; }
  /* line 101, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .lg-col-6 {
    width: 50%; }
  /* line 102, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .lg-col-7 {
    width: 58.3333%; }
  /* line 103, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .lg-col-8 {
    width: 66.6666%; }
  /* line 104, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .lg-col-9 {
    width: 75%; }
  /* line 105, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .lg-col-10 {
    width: 83.3333%; }
  /* line 106, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .lg-col-11 {
    width: 91.6666%; }
  /* line 107, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .lg-col-12 {
    width: 100%; } }

@media (min-width: 960px) and (max-width: 1170px) {
  /* line 112, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .md-col-1 {
    width: 8.3333%; }
  /* line 113, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .md-col-2 {
    width: 16.6666%; }
  /* line 114, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .md-col-3 {
    width: 25%; }
  /* line 115, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .md-col-4 {
    width: 33.3333%; }
  /* line 116, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .md-col-5 {
    width: 41.6666%; }
  /* line 117, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .md-col-6 {
    width: 50%; }
  /* line 118, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .md-col-7 {
    width: 58.3333%; }
  /* line 119, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .md-col-8 {
    width: 66.6666%; }
  /* line 120, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .md-col-9 {
    width: 75%; }
  /* line 121, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .md-col-10 {
    width: 83.3333%; }
  /* line 122, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .md-col-11 {
    width: 91.6666%; }
  /* line 123, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .md-col-12 {
    width: 100%; } }

@media (min-width: 600px) and (max-width: 960px) {
  /* line 128, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .sm-col-1 {
    width: 8.3333%; }
  /* line 129, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .sm-col-2 {
    width: 16.6666%; }
  /* line 130, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .sm-col-3 {
    width: 25%; }
  /* line 131, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .sm-col-4 {
    width: 33.3333%; }
  /* line 132, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .sm-col-5 {
    width: 41.6666%; }
  /* line 133, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .sm-col-6 {
    width: 50%; }
  /* line 134, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .sm-col-7 {
    width: 58.3333%; }
  /* line 135, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .sm-col-8 {
    width: 66.6666%; }
  /* line 136, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .sm-col-9 {
    width: 75%; }
  /* line 137, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .sm-col-10 {
    width: 83.3333%; }
  /* line 138, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .sm-col-11 {
    width: 91.6666%; }
  /* line 139, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .sm-col-12 {
    width: 100%; } }

@media (max-width: 600px) {
  /* line 144, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .xs-col-1 {
    width: 8.3333%; }
  /* line 145, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .xs-col-2 {
    width: 16.6666%; }
  /* line 146, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .xs-col-3 {
    width: 25%; }
  /* line 147, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .xs-col-4 {
    width: 33.3333%; }
  /* line 148, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .xs-col-5 {
    width: 41.6666%; }
  /* line 149, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .xs-col-6 {
    width: 50%; }
  /* line 150, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .xs-col-7 {
    width: 58.3333%; }
  /* line 151, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .xs-col-8 {
    width: 66.6666%; }
  /* line 152, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .xs-col-9 {
    width: 75%; }
  /* line 153, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .xs-col-10 {
    width: 83.3333%; }
  /* line 154, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .xs-col-11 {
    width: 91.6666%; }
  /* line 155, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
  .xs-col-12 {
    width: 100%; } }

/* line 159, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.full-height {
  height: 100vh; }

/* line 169, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.m-30px {
  margin: 30px; }

/* line 172, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.mt-30px {
  margin-top: 30px; }

/* line 175, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.mt-35px {
  margin-top: 35px; }

/* line 178, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_grid.scss */
.mb-30px {
  margin-bottom: 30px; }

/* line 1, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
.btn {
  display: inline-block;
  text-decoration: none;
  line-height: 1em;
  text-align: center; }
  /* line 6, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
  .btn-pink {
    background-color: #f8cfe3;
    color: #764d61;
    padding: 0.85em 1.5em;
    border-radius: 1.5em;
    transition: 350ms; }
    /* line 12, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
    .btn-pink:hover {
      background: #764d61;
      color: white; }
  /* line 17, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
  .btn-pink-dark {
    background: #764d61;
    color: white;
    padding: 0.85em 2em;
    border-radius: 1.5em; }
  /* line 23, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
  .btn-white {
    background: white;
    color: #764d61;
    padding: 0.85em 2em;
    border-radius: 1.5em;
    transition: 350ms; }
    /* line 29, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
    .btn-white:hover {
      background: #764d61;
      color: white; }
  /* line 34, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
  .btn-trans {
    border: solid 1px #764d61;
    border-radius: 1.5em;
    color: #764d61;
    padding: 0.85em 1.5em;
    transition: 300ms; }
    /* line 40, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
    .btn-trans:hover {
      background-color: #f8cfe3;
      border: solid 1px #f8cfe3; }

/* line 48, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
input[type=text] {
  width: 100%;
  background-color: transparent;
  border: solid 1px #764d61;
  border-radius: 2em;
  color: #764d61;
  font-size: 1em;
  text-align: center;
  padding: 0.75em 1em;
  outline: NONE !important; }

/* line 59, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
input[type=submit] {
  width: 100%;
  background: white;
  color: #764d61;
  padding: 0.75em 1em;
  border-radius: 1.5em;
  transition: 350ms;
  text-align: center;
  font-size: 1em;
  outline: NONE !important; }
  /* line 69, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
  input[type=submit]:hover {
    background: #764d61;
    color: white; }

/* line 75, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
.form__items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

/* line 84, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
.form__desc {
  font-size: 0.75em;
  margin-top: 1em; }

/* line 88, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
.form__item {
  flex-grow: 1;
  flex-shrink: 0;
  margin: 5px; }
  /* line 92, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
  .form__item .input-wrpr {
    width: 100%;
    max-width: 250px; }
  /* line 96, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
  .form__item .submit-wrpr {
    width: 100%;
    max-width: 165px; }

/* line 102, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
.sn {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
  background-size: cover; }
  /* line 108, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
  .sn-fb {
    background-image: url("../img/sn-fb.png"); }
  /* line 111, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
  .sn-inst {
    background-image: url("../img/sn-inst.png"); }
  /* line 114, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
  .sn-big {
    width: 44px;
    height: 44px; }
  /* line 118, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
  .sn-big-fb {
    background-image: url("../img/sn-fb-big.png"); }
  /* line 121, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
  .sn-big-inst {
    background-image: url("../img/sn-inst-big.png"); }

/* line 127, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
.pagination-ul {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }
  /* line 137, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_ui.scss */
  .pagination-ul a {
    color: inherit;
    text-decoration: none; }

/* line 1, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
h1 {
  font-size: 4em;
  line-height: 1em; }

/* line 5, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
h2 {
  font-size: 3em;
  line-height: 1em; }

/* line 9, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
h3 {
  font-size: 2.5em;
  line-height: 1em; }

/* line 13, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
h4 {
  font-size: 2em;
  line-height: 1em; }

/* line 17, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
h5 {
  font-size: 1.5em;
  line-height: 1em; }

/* line 21, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
h6 {
  font-size: 1.25em;
  line-height: 1em; }

/* line 26, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.s-title {
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: 300; }

/* line 33, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
span.spacer {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  color: transparent;
  background: transparent; }

/* line 42, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.ta-center {
  text-align: center; }

/* line 47, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.p-margin p {
  margin: 0.75em 0; }
  /* line 49, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
  .p-margin p:first-child {
    margin-top: 0; }
  /* line 50, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
  .p-margin p:last-child {
    margin-bottom: 0; }

/* line 54, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.tdn {
  text-decoration: none; }

/* line 55, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.uppercase {
  text-transform: uppercase; }

/* line 57, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fw-100 {
  font-weight: 100; }

/* line 58, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fw-200 {
  font-weight: 200; }

/* line 59, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fw-400 {
  font-weight: 400; }

/* line 60, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fw-500 {
  font-weight: 500; }

/* line 61, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fw-600 {
  font-weight: 600; }

/* line 62, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fw-700 {
  font-weight: 700; }

/* line 63, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fw-800 {
  font-weight: 800; }

/* line 66, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_0-5 {
  font-size: 0.5em; }

/* line 67, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_0-55 {
  font-size: 0.55em; }

/* line 68, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_0-6 {
  font-size: 0.6em; }

/* line 69, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_0-65 {
  font-size: 0.65em; }

/* line 70, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_0-7 {
  font-size: 0.7em; }

/* line 71, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_0-75 {
  font-size: 0.75em; }

/* line 72, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_0-8 {
  font-size: 0.80em; }

/* line 73, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_0-85 {
  font-size: 0.85em; }

/* line 74, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_0-9 {
  font-size: 0.9em; }

/* line 75, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_0-95 {
  font-size: 0.95em; }

/* line 77, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1 {
  font-size: 1em; }

/* line 78, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-05 {
  font-size: 1.05em; }

/* line 79, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-1 {
  font-size: 1.1em; }

/* line 80, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-15 {
  font-size: 1.15em; }

/* line 81, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-2 {
  font-size: 1.2em; }

/* line 82, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-25 {
  font-size: 1.25em; }

/* line 83, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-3 {
  font-size: 1.3em; }

/* line 84, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-35 {
  font-size: 1.35em; }

/* line 85, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-4 {
  font-size: 1.4em; }

/* line 86, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-45 {
  font-size: 1.45em; }

/* line 87, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-5 {
  font-size: 1.5em; }

/* line 88, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-55 {
  font-size: 1.55em; }

/* line 89, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-6 {
  font-size: 1.6em; }

/* line 90, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-65 {
  font-size: 1.65em; }

/* line 91, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-7 {
  font-size: 1.7em; }

/* line 92, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-75 {
  font-size: 1.75em; }

/* line 93, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-8 {
  font-size: 1.80em; }

/* line 94, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-85 {
  font-size: 1.85em; }

/* line 95, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-9 {
  font-size: 1.9em; }

/* line 96, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_1-95 {
  font-size: 1.95em; }

/* line 97, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2 {
  font-size: 2em; }

/* line 98, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-05 {
  font-size: 2.05em; }

/* line 99, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-1 {
  font-size: 2.1em; }

/* line 100, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-15 {
  font-size: 2.15em; }

/* line 101, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-2 {
  font-size: 2.2em; }

/* line 102, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-25 {
  font-size: 2.25em; }

/* line 103, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-3 {
  font-size: 2.3em; }

/* line 104, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-35 {
  font-size: 2.35em; }

/* line 105, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-4 {
  font-size: 2.4em; }

/* line 106, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-45 {
  font-size: 2.45em; }

/* line 107, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-5 {
  font-size: 2.5em; }

/* line 108, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-55 {
  font-size: 2.55em; }

/* line 109, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-6 {
  font-size: 2.6em; }

/* line 110, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-65 {
  font-size: 2.65em; }

/* line 111, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-7 {
  font-size: 2.7em; }

/* line 112, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-75 {
  font-size: 2.75em; }

/* line 113, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-8 {
  font-size: 2.8em; }

/* line 114, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-85 {
  font-size: 2.85em; }

/* line 115, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-9 {
  font-size: 2.9em; }

/* line 116, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_2-95 {
  font-size: 2.95em; }

/* line 117, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_typography.scss */
.fz_3 {
  font-size: 3em; }

/* line 1, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_header.scss */
.header {
  background: #ede4e9; }
  /* line 3, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_header.scss */
  .header__container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0; }
  /* line 17, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_header.scss */
  .header__nav {
    margin-right: auto;
    margin-left: 80px;
    width: 320px;
    font-size: 1.15em; }
    /* line 22, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_header.scss */
    .header__nav ul {
      width: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none; }
    /* line 34, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_header.scss */
    .header__nav a {
      color: inherit;
      text-decoration: none; }
  /* line 39, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_header.scss */
  .header__actions {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    /* line 47, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_header.scss */
    .header__actions .action-call {
      color: inherit;
      text-decoration: none;
      font-size: 1.15em; }
  /* line 55, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_header.scss */
  .header__cart-btn {
    display: block;
    width: 44px;
    height: 44px;
    background-image: url("../img/icon-cart-1.png");
    background-repeat: no-repeat;
    margin: 0 15px 0 20px; }

/* line 4, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_footer.scss */
.f {
  background-color: #f8cfe3;
  color: #2b2929;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  background-image: url("../img/logo-footer.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom; }
  /* line 19, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_footer.scss */
  .f a {
    text-decoration: none;
    color: inherit; }
  /* line 23, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_footer.scss */
  .f__container {
    height: auto !important; }
  /* line 27, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_footer.scss */
  .f__logo {
    text-align: center; }
  /* line 30, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_footer.scss */
  .f__nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 820px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.15em;
    margin-top: 60px; }
    /* line 39, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_footer.scss */
    .f__nav ul {
      list-style: none;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      text-transform: uppercase;
      justify-content: space-between; }
    /* line 50, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_footer.scss */
    .f__nav a {
      text-decoration: none; }
  /* line 55, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_footer.scss */
  .f__contacts {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.15em;
    margin-top: 60px;
    text-transform: uppercase; }
    /* line 66, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_footer.scss */
    .f__contacts a {
      margin: 5px; }
  /* line 70, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_footer.scss */
  .f__social {
    text-align: center;
    margin-top: 30px; }
  /* line 74, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_footer.scss */
  .f__address {
    text-align: center;
    margin-top: 40px;
    font-size: 1.12em; }
  /* line 79, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_footer.scss */
  .f__p2 {
    margin-top: 1em; }
  /* line 82, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_footer.scss */
  .f__p3 {
    margin-top: 2em; }

/* line 1, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_page.scss */
body {
  font-family: Circe;
  font-size: 16px;
  color: #764d61; }

/* line 6, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_page.scss */
.body-landing {
  background: #ede4e9 url("../img/body-bg.jpg") no-repeat;
  background-position: 0 0; }
  @media (max-width: 1900px) {
    /* line 6, /Users/khanigo/Documents/01cat/Пластун/src/assets/scss/_page.scss */
    .body-landing {
      background-position: calc( 585px - 50vw - 315px) top; } }

/*# sourceMappingURL=style.css.map */