+b.c-about
    +e.container.container
        +e.info
            h3 О клубе
            p В наличии новое прокатное оборудование и всевозможные к ним дополнения, а также удобная форма и дополнительная защита. Наличие реалистичных маркеров (автоматы Калашникова, карабины М-16, снайперские винтовки) позволит получить Вам новые ощущения и попробовать себя в разных амплуа. 
            p Помещения для проведения корпоративных мероприятий и семейных праздников позволят отметить знаменательное событие застольем и просто обсудить друзьями прошедшие игры в максимально комфортных условиях. 
        
        +e.items
            +about-item('Три разноплановых игровых площадки', 'a')
            +about-item('Уютная зона отдыха с теплыми беседками', 'a')
            +about-item('Бесплатная парковка', 'a')
            +about-item('Возможность одновременно принять до 200 человек', 'a')
            +about-item(' Наикрутейшая инструкторская команда', 'a')
            +about-item('Качественное, надежное пейнтбол и лазертаг оборудование', 'a')
        