+b.c-areas
    +e.container.container
        +e.title
            h3.gradient.uppercase Площадки для игры
        
        +e.list
            +b-area-item('Колеса и катушки', 'Темп: высокий', 'Здесь почти нет укрытий, в которых можно надолго засесть и неспешно отстреливаться. Прятаться можно за катушками и стойками из шин, но ваш тыл всегда будет открыт противнику. Выбирайте ее, если вы настроены играть активно и не дать ни минуты отдыха противникам', '')
            +b-area-item('Деревушка', 'Темп: высокий или средний', 'Избушки, машины, укрытия из колес и масса свободного пространства. Универсальная площадка! Здесь можно набегаться от души или устроить продолжительную битву за освобождение деревни. Площадка подойдет, чтобы отыграть в компании в любом составе и по любому сценарию.', 'reversed')
            +b-area-item('Заброшенный город', 'Темп: средний', 'На этой площадке полно домов, домиков и стен. Здесь можно на отлично отыграть сложную сценарную игру в большой компании. Подходит для тех, кто не ищет легких путей, знает, как вытащить противника из засады и хочет попробовать себя в штурме укрытий.', '')