+b.c-card
    +e.container.container
        +e.img-wrp
            +e.IMG(src="").img
        +e.info
            +e.title
            +e.subtitle
            +e.text-item--1
                p Организацию игры для владельца карты в любой из игровых дней в течение всего срока
            +e.text-item--2
                p Неограниченную заправку воздухом пейнтбольного маркера в любой игровой день
            +e.text-item--3
                p 10 % скидку на покупку пейнтбольного оборудования в магазине клуба
            +e.text-item--4
                p Пейнтбольные шары по специальной цене 1 коробка (2 000 шт.)
        