+b.c-contacts
    +e.container.container
        +e.info
            +e.info-item--title
                span Контакты
            +e.info-item
                span.label Телефон
                p 
                    a(href="#") +7 (4212) 77-88-00
            +e.info-item
                span.label  Адрес
                p Район села Ильинка, лыжная база института физкультуры

            +e.info-item
                p Если у вас нет машины #[br]звоните не позже чем за сутки до игры и мы организуем автобус
                
        +e.map-wrp
            +e.IMG(src="").map-img
        +e.social
            +e.social-cta
                p Следуй за нами
        