+b.c-contacts
    +e.container.container
        +e.info
            +e.info-item--title
                span Контакты
            +e.info-item--phone
                span.label Телефон
                p 
                    a(href="#") +7 (4212) 77-88-00
            +e.info-item--address
                span.label  Адрес
                p Район села Ильинка, лыжная база института физкультуры

            +e.info-item--desc
                p Если у вас нет машины #[br]звоните не позже чем за сутки до игры и мы организуем автобус
                
        +e.map-wrp
            +e.IMG(src="/images/map.png").map-img
        +e.social
            
            +e.social-wrpr
                +social-cont('vk')
                +social-cont('inst')
                
            +e.social-cta
                p Следуй за нами
        