+b.c-photo-reports
    +e.container.container
        +e.title
            h1.uppercase Фотоотчеты
        
        +e.list
            +photo-report('Игра 26 декабря', 'photo.png')
            +photo-report('Игра 5 декабря', 'photo (1).png')
            +photo-report('Игра 30 ноября', 'photo (2).png')
            +photo-report('Игра 26 ноября', 'photo (3).png')
        
        +e.toggle-wrp
            +e.A(href="#").btn.btn--lg.btn--white-bordered Смотреть все
            