+b.c-photo-reports
    +e.container.container
        +e.title
            h3.uppercase Фотоотчеты
        
        +e.list
            +photo-report('Игра 26 декабря', '')
            +photo-report('Игра 5 декабря', '')
            +photo-report('Игра 30 ноября', '')
            +photo-report('Игра 26 ноября', '')
        
        +e.toggle-wrp
            +e.A(href="#").btn Смотреть все
            