+b.c-price
    +e.container.container
        +e.title
            h3.uppercase Прайс
        +e.desc
            p В стоимость часа входят: аренда площадки, #[br] стандартный маркер, маска, костюм, жилет
        
        +e.tables
            include ../parts/_table-1.pug
            include ../parts/_table-2.pug
            +e.tables-desc
                p * Студентам необходимо предъявить студенческий билет
        
        +e.text
            p Подробную информацию по стоимости услуг уточняйте у менеджера по тел. 77-88-00
                        
                
    