+b.c-recreation
    +e.container.container
        +e.title
            h3.uppercase Зона отдыха
            
        +e.desc
            p Уютная зона отдыха с теплыми беседками, мангалами и мебелью
        
        +e.list
            //recreation-item(name, dec, price, img)
            +recreation-item('Теплая беседка на 18 человек', 'В стоимость аренды беседки входит мангал', '4000', '')
            +recreation-item('Теплая беседка на 30 человек', 'В стоимость аренды беседки входит мангал', '5000', '')
            +recreation-item('Теплая беседка на 50 человек', 'В стоимость аренды беседки входит мангал', '6000', '')