+b.c-services
    +e.container.container
        +e.title
            h3 Дополнительные услуги
        +e.desc
            p Стоимость дополнительных услуг уточняйте у менеджера по тел. 77-88-00
            
        +e.tables
            include ../parts/_table-3.pug
            include ../parts/_table-4.pug

    include ../parts/_footer.pug