+b.c-services
    +e.container.container
        +e.title
            h3.uppercase Дополнительные услуги
        +e.desc
            p Стоимость дополнительных услуг уточняйте у менеджера по тел. 77-88-00
            
        +b.c-services-tables
            include ../parts/_table-3.pug
            include ../parts/_table-4.pug
