+b.c-special-offers
    +e.container.container
        +e.title
            h1.uppercase Cпецпредложение
        
        +e.list
            +b-offer-item
            +b-offer-item
            +b-offer-item
            +b-offer-item
            
            +b-offer-item
            +b-offer-item
            +b-offer-item
            +b-offer-item
            
            +e.list-toggle-wrpr
                +e.A(href="#").btn.btn--white-bordered.btn--lg Свернуть
                