+b.FOOTER.c-footer.row
    +e.section-top
        +e.container--top.container
            +e.A(href="#").logo-link
        
            +e.NAV.nav
                +e.UL.nav-list
                    +e.LI.nav-item
                        +e.A(href="#").nav-link О клубе
                    +e.LI.nav-item
                        +e.A(href="#").nav-link Прайс
                    +e.LI.nav-item
                        +e.A(href="#").nav-link Спецпредложения
                    +e.LI.nav-item
                        +e.A(href="#").nav-link Площадки
                    +e.LI.nav-item
                        +e.A(href="#").nav-link Зона отдыха
                    +e.LI.nav-item
                        +e.A(href="#").nav-link Фотоотчет
                    +e.LI.nav-item
                        +e.A(href="#").nav-link Контакты
                    +e.LI.nav-item
                        +e.A(href="#").nav-link Дополнительно
            +e.social-wrpr
                +social('vk')
                +social('inst')
        
    +e.section-bottom
        +e.container--bottom.container
    
        
    