+b.b-price-table--table-1
    +e.row--header
        +e.col--1.pl-0
            +e.SPAN.name Пейнтбол
        +e.col--2 
            p Взрослые
        +e.col--3
            p Дети с 10 до 17 лет и студенты*
                    
    +e.row
        +e.col--1
            p Будни
        +e.col--2
            p 750 ф + 100 шаров в подарок
        +e.col--3
            p 750 ф + 100 шаров в подарок
                
    +e.row
        +e.col--1
            p Выходные
        +e.col--2
            p 950 ф без стоимости шаров
        +e.col--3
            p 700 ф без стоимости шаров