+b.b-price-table--table-2
    +e.row--header
        +e.col--4.pl-0
            +e.SPAN.name Лазертаг
        +e.col--5 
            p Взрослые и дети
                    
    +e.row
        +e.col--4
            p Будни
        +e.col--5
            p 740 ф
                
    +e.row
        +e.col--4
            p Выходные
        +e.col--5
            p 400 ф