+b.b-service-table--1
    +e.title
        p Для игры
    
    +e.row--1
        +e.row-title
            p Пейнтбольные шары (1 коробка)
        +e.row-desc
            p 2 000 шаров
    
    +e.row--2
        +e.row-title
            p Маска с термо-стеклом
        +e.row-desc
            p Не запотевает за счет двойного стекла, особенно актуальна зимой
    
    +e.row--3
        +e.row-title
            p Удлиненный ствол
        +e.row-desc
            p Добавляет дальность выстрела
    
    +e.row--4
        +e.row-title
            p Удлиненный ствол
        +e.row-desc
            p Добавляет дальность выстрела