+b.b-service-table--2
    +e.title
        p Дополнительно
    
    +e.row--1
        +e.row-title
            p Фотограф на 2 часа 
    +e.row-desc
        p Можно 1 час, но 2 лучше, мы проверяли. #[br] Итог: диск с фото через 3 дня после игры
    
    +e.row--2
        +e.row-title
            p Автобус на 14 мест
            
    +e.row--3
        +e.row-title
            p Автобус на 24 мест
    
    