+b.b-price-table--table-2
    +e.row--header
        +e.col--1
            +e.SPAN.name Лазертаг
        +e.col--2 
            p Взрослые и дети
                    
    +e.row
        +e.col--1
            p Будни
        +e.col--2
            p 740 ф
                
    +e.row
        +e.col--1
            p Выходные
        +e.col--2
            p 400 ф